nav {
    background-color: #DCDCDC;
    padding: 1rem 0;
    font-family: 'Roboto', sans-serif;
  }
  
  nav h2 {
    display: inline;
    margin-left: 15px;
    font-size: 1.25rem;
    color: white;
  }
  
  nav a {
    margin-left: 15px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    background-color: grey;
    height: 100%;
  }
  nav a:visited {
    color: white;
  }
  