.bookResult {
    background-color: white;
    color: black;
    padding: 50px;
    font-size: 1rem;
    box-shadow: 0 2px 6px #999, 0 2px 6px #999;
    font-family: 'Roboto', sans-serif;
  }
  
  .bookResult:not(:last-of-type) {
    margin-bottom: 2vw;
  }
  
  .bookResult h4 {
    font-size: 1.25rem;
    margin-bottom: 1vw;
  }
  
  .bookResult .row:first-of-type {
    margin-bottom: 1vw;
  }
  
  .bookResult img {
    display: inline-block;
    box-sizing: border-box;
    max-width: 100px;
    max-height: auto;
    margin-right: 2vw;
    box-shadow: 0 4px 6px #999, 0 4px 6px #999;
    margin-bottom: 20px;
  }
  
  .aboutBook {
    box-sizing: border-box;
    display: inline-block;
    width: 75%;
    padding: 0;
    /* margin: 1.75vw 0 0 1.75vw; */
  }
  
  .btnDiv {
    box-sizing: border-box;
    float: right;
  }
  
  .btnDiv button:first-of-type {
    margin-right: 1.75vw;
  }
  h3 {
    margin-top: -25px;
    color: black;
    margin-bottom: 2px;
    font-size: 1.5rem;
    
  }